https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&family=Poppins:wght@300;400;600;700&display=swap'

.merriweather {
  font-family: "Merriweather", cursive;
  font-weight: 400;
  font-style: normal;
}

.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3{
  font-family: "Merriweather", cursive;
  color: Blue;
}

p{
  font-family: "Poppins", sans-serif;
   color: lightBlue;
}
body{
  background-image: url(pixel-heart.webp);
}
